
<body>
<div class="container">
<h1>Mysql database connection</h1>
<h2>{{title}}</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Roll number</th>
    </tr>
    {{#each names}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.rollno}}</td>
    </tr>
    {{/each}}
</table>

</div>

</body>